@use '../partials/variables/color';

$background-color: #fff !default;
$color: #000 !default;

.NavBar {
  background: $background-color;
  padding: 1.5rem;
  font-size: 2rem;

  ul {
    list-style: none;
    display: flex;
  }

  li {
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  a {
    color: $color;
    text-decoration: none;
  }
}
