@use '../variables/color';

$-color: #aaa !default;

@mixin config($color: null) {
  @if $color {
    $-color: $color !global;
  }
}

@mixin base {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &,
  &:focus,
  &:active {
    outline: none;
    border-radius: 0;
  }
}

@mixin color {
  color: $-color;
  border: 2px solid;

  &:hover {
    color: color.$white;
    border-color: $-color;
    background-color: $-color;
  }
}
