@use "components/Grid";
@use "components/Typography";
@use "components/Button";
@use "components/Editor";

@use "components/List" with (
  $color: blue,
  $border: 2px solid,
);

@use "components/Navbar" with (
  $background-color: blue,
  $color: red,
);

* {
  margin: 0;
  padding: 0;
}
